@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2123;
}

.mainContainer {
    margin: 0;
    padding: 0;
    
    & .content {
        width: calc(100% - 40px);
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}